<%= render "layouts/header" %>
<%= form_for(@category, url: categories_path(@category)) do |f| %>
  <h4>ジャンル</h4>
  <br>
  <%= f.text_field :name %>
  <%= f.submit "追加", class: "btn btn-primary" %>
<% end %>
<br>
<table class="table  table-inverse">
  <thead>
  <tr>
    <% @categories.each do |category| %>

      <th><%= category.name %></th>
      <th><%= link_to '消去', category_path(category), method: :delete %></th>

    <% end %>
  </tr>
  </thead>
</table>